<div class="modal-header {{styleHeader}}">
  <h6 class="modal-title" data-locale="Question"></h6>
  <button class="btn-close" data-mdb-dismiss="modal" data-mdb-ripple-init></button>
</div>
<div class="modal-body">
  {{question}}
</div>
<div class="modal-footer">
  <button class="btn {{styleButton}} px-3" data-mdb-ripple-init data-yes>
    <i class="fas fa-check me-1"></i>
    <span data-locale="Yes"></span>
  </button>
  <button class="btn btn-secondary px-3" data-mdb-ripple-init data-mdb-dismiss="modal">
    <i class="fas fa-ban me-1"></i>
    <span data-locale="No"></span>
  </button>
</div>