.z-i-1 {
  z-index: 1 !important;
}

.z-i-2 {
  z-index: 2 !important;
}

.z-i-3 {
  z-index: 3 !important;
}

.z-i-4 {
  z-index: 4 !important;
}

.z-i-5 {
  z-index: 5 !important;
}

.z-i-6 {
  z-index: 6 !important;
}

.z-i-7 {
  z-index: 7 !important;
}

.z-i-8 {
  z-index: 8 !important;
}

.z-i-9 {
  z-index: 9 !important;
}

.z-i-10 {
  z-index: 10 !important;
}

.z-i-1000 {
  z-index: 1000 !important;
}

.z-i-1001 {
  z-index: 1001 !important;
}

.z-i-1002 {
  z-index: 1002 !important;
}

.z-i-1003 {
  z-index: 1003 !important;
}

.z-i-1004 {
  z-index: 1004 !important;
}

.z-i-2000 {
  z-index: 2000 !important;
}

.z-i-2001 {
  z-index: 2001 !important;
}

.z-i-2002 {
  z-index: 2002 !important;
}

.z-i-2003 {
  z-index: 2003 !important;
}

.z-i-2004 {
  z-index: 2004 !important;
}